.active{
    color:#ff6325;
    border-bottom:5rpx solid #ff6325
}
.menuhead{
    height:100rpx;
    padding:0 30rpx;
}
.visit{
    justify-content: space-around;
}
.menuhead p{
    height:100%;
    line-height: 100rpx;
}
.bgindo{
    background: #f6f6f6;
}
.shopitem{
    margin-top:20rpx;
}
.number{ 
    color:#999;
}
.tips{
    color:#ff6666;
}
.itemtotal{
    border-bottom:1rpx solid #f4f4f4;
    height:90rpx;
    line-height: 90rpx;
    text-align: right;
    padding:0 30rpx;
}
.itemtotal span{
    font-size: 32rpx;
}
.menubtn{
    height:100rpx;
    justify-content: flex-end;
    padding:0 30rpx;
}
.menubtn text{
    width:155rpx;
    padding:10rpx 0;
    text-align: center;
    border-radius:30rpx;
}
.leftbtn{
    color:#999;
    border:1rpx solid #999;
}
.rightbtn{
    color:#ff6666;
    border:1rpx solid #ff6666;
    margin-left:30rpx;
}
.seritem{
    border-top:1rpx solid #f4f4f4;
    border-bottom:1rpx solid #f4f4f4;
    padding:30rpx 40rpx;
}
.seritem p{
    padding:10rpx;
}