.bg{
    width:750rpx;
    height:400rpx;
}
.hr{
    width:700rpx;
    height:3rpx;
    background:#ddd;
    margin:0 auto;
}
.item{
    padding:25rpx;
}
.item .title{
    font-size: 30rpx;
    font-weight: bold;
}
.complain{
    margin:20rpx 0;
    color:#333;
    font-size:26rpx;
}
.iteminfo{
    justify-content: flex-start;
    font-size:24rpx;
    color:#999;
}
.iteminfo p+p{
    margin-left:50rpx;
}
.iteminfo span{
    color:rgb(245, 91, 91);
}
.seritem{
    font-size: 28rpx;
}
.sertitle{
    font-size: 28rpx;
    font-weight: bold;
    height:28rpx;
}
.sercomplain{
    margin:25rpx 0;
    color:#333;
    font-weight:500;
    font-size:24rpx;
    height:24rpx;
}
.pics{
    width:24rpx;
    height:24rpx;
    vertical-align: middle;
    margin-right:10rpx;
}
.price{
    color:rgb(245, 74, 74);
    font-weight: bold;
    font-size:35rpx;
    text-align:right;
}
.big{
    width:48rpx;
    height:48rpx;
}
.small{
    width:24rpx;
    height:24rpx;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.location{
    position: relative;
    width:48rpx;
    height:48rpx;
}
.range{
    flex-direction: column;
    color:#999;
}
.point{
    padding:20rpx;
    border-bottom:1rpx solid #eee;
    box-sizing: border-box;
}
.arrowback{
    width:12rpx;
    height:22rpx;
    margin-left:10rpx;
}
.avatar{
    width:80rpx;
    height:80rpx;
    margin-right:15rpx;
}
.left text+text{
    font-size: 35rpx;
    color:#ff6325;
    margin-left:30rpx;
}
.userinfo{
    margin:20rpx 0;
}
.carname{
    color:#ff6325;
}
.usertime{
    color:#999;
    margin-top:10rpx;
}
.tippic{
    width:26rpx;
    height:26rpx;
    margin-right:10rpx;
    margin-top: 5rpx;
}
.main{
    font-weight: bold;
}
.pointnow{
    height:250rpx;
}
.pmenu p{
    font-size:24rpx;
}
.carcor{
    color:#999;
}
.fsize{
    font-weight:bold;
    color:#333
}
.pmenu{
    margin:20rpx 0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:24rpx;
}
.btn{
    position:fixed;
    width:100%;
    bottom:0;
    height:90rpx;
    display: flex;
    justify-content: space-between;
    line-height: 90rpx;
    z-index:99
}
.btnmoney{
    color:rgb(243, 70, 70);
    font-size: 32rpx;
    padding-left: 20rpx;
    border-top:1rpx solid #eee;
    box-sizing: border-box;
    width:70%;
    background: #fff;
}
.btncharge{
    background: #ff6325;
    color:#fff;
    width:30%;
    text-align:center;
}

// 优惠券
.couponbg,.couponmenuinfo,.couponmenuinfo text{
    width:144rpx;
    height:40rpx;
}
.coupon{
    color:#999;
    padding:20rpx;
}
.couponmenu{
    font-size: 22rpx;
    margin-left:60rpx;
}
.getcon{
    margin-right:10rpx;
}
.couptsild{
    margin-top:10rpx;
}
.itemname{
    color:#ff6325;
    padding:3rpx 20rpx;
    border-radius:25rpx;
    margin-right:20rpx;
    background:#fef0f0
}
.couponmenuinfo{
    position: relative;
}
.couponmenuinfo text{
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    line-height: 40rpx;
    display: block
}

// 弹出框
.mask{
    width:750rpx;
    // height:800rpx;
    position:fixed;
    left:0;
    bottom:0;
    z-index:40;
    background:#fff;
    border-top-left-radius: 15rpx;
    border-top-right-radius: 15rpx;
}
.pink,.maskcouponlist,.couponinfo{
    width:690rpx;
    height:161rpx;
}
.masktitle{
    font-weight: bold;
    font-size:32rpx;
    text-align: center;
    padding:45rpx 0;
}
.maskitem{
    color:#999;
    padding:10rpx 0;
}
.maskinfo{
    padding:0 20rpx;
}
.maskcoupon{
    display: inline-block;
    color:#ff6325;
    padding:5rpx 20rpx;
    border-radius: 25rpx;
    background: #fed4d4;
    margin-right:15rpx;
    font-size:22rpx;
}
.maskdetail{
    padding-bottom:30rpx;
}
.maskcouponlist{
    position: relative;
    margin:0 auto 15rpx;
}
.maskser{
    position: absolute;
    top:0;
    left:0;
    padding:32rpx 30rpx 25rpx 30rpx;
    color:#f75364;
    width:100%;
}
.maskprice span,.maskget{
    font-size:32rpx;
}
.maskask{
    font-size:22rpx;
}
.btnget{
    width:690rpx;
    height:72rpx;
    color:#fff;
    background: #ff6325;
    text-align: center;
    line-height: 72rpx;
    margin:0 auto;
    margin-top:220rpx;
    border-radius:50rpx;
}