.contain{
    padding:0 35rpx;
    font-size: 28rpx;
}
.signtitle{
    color: #ff6325;
    padding:50rpx 0 20rpx 0;
}
.infobg{
    height:268rpx;
    margin:0 auto;
    background:#f4f7fc;
    padding:30rpx 20rpx;
    color:#999999;
    border-radius:10rpx;
    margin-bottom:80rpx;
}
